//variables.scss
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Aleo', serif;

$primary-color: #FFFFFF;

$font-weight-heavy: 700;
$font-weight-medium: 400;

$font-size-xxl: 48px;
$font-size-xl: 36px;
$font-size-l: 22px;
$font-size-m: 20px;
$font-size-s: 16px;
$font-size-xs: 14px;

$line-height-primary: 26px;

$letter-spacing-primary: 1.60;






