body {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  color: #FFFFFF;
}

header {
  background-image: url("/images/image 1.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #FFFFFF;
}

.header-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  line-height: 26px;
}

.header-subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 6.82px;
  line-height: 26px;
}

.search {
  color: #999999;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-family: Josefin Sans;
  line-height: 26px;
  letter-spacing: 2.8px;
}

input {
  width: 503px;
  height: 63px;
  text-align: center;
  border: none;
}

.btn-search {
  font-size: 14px;
  font-family: "Aleo", serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  background-color: #5474FD;
  height: 63px;
  width: 153px;
  border: none;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.scroll-down {
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.8px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: url(/images/Rectangle\ 2.png);
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}

.logo {
  color: #FFFFFF;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 2.4px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  line-height: 26px;
}

.why-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(/images/Rectangle\ 41444.png);
  background-repeat: no-repeat;
  height: 685px;
  width: 100%;
}

.why-us-right {
  display: flex;
  flex-direction: column;
}

.heading-why-us {
  font-size: 36px;
  font-family: "Aleo", serif;
  font-weight: 400;
  line-height: 26px;
}

.paragraph-why-us {
  color: #E8E8E8;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.6px;
  width: 560px;
  height: 158px;
}

.how-it-works {
  display: flex;
  background-image: url(/images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  height: 340px;
  width: 100%;
}

.destination-1 {
  display: flex;
  background-image: url(/images/Rectangle\ 414\ 45.png);
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

.destination-2 {
  display: flex;
  background-image: url(/images/Rectangle\ 41445.png);
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

.testimonials {
  display: flex;
  background-image: url(/images/Rectangle\ 4142\ 1.png);
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

footer {
  display: flex;
  background-image: url(/images/Rectangle\ 41444.png);
  background-repeat: no-repeat;
  height: 271px;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */