@import 'variables';


body {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    color: $primary-color;
    
}

header {
    background-image: url("/images/image\ 1.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: $primary-color;
    
}

.header-title {
    font-family: $primary-font;
    font-weight: $font-weight-heavy;
    font-size: $font-size-xxl;
    text-transform: uppercase;
    letter-spacing: 4.80px;
    line-height: $line-height-primary;
}

.header-subtitle{
    font-family: $primary-font;
    font-weight: $font-weight-medium;
    font-size: $font-size-l;
    letter-spacing: 6.82px;
    line-height: $line-height-primary;
}

.search {
    color: #999999;
    font-family: $primary-font;
    font-weight: $font-weight-medium;
    font-size: $font-size-xs;
    font-family: Josefin Sans;
    line-height: $line-height-primary;
    letter-spacing: 2.80px;
}
 input{
    width:503px;
    height: 63px;
    text-align: center;
    border: none;
 }

 .btn-search {
    font-size: $font-size-xs;
    font-family: $secondary-font;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    line-height: $line-height-primary;
    letter-spacing: 1.40px;
    color: $primary-color;
    background-color: #5474FD;
    height: 63px;
    width: 153px;
    border: none;
 }

 .search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
 }

 .scroll-down {
    font-size: $font-size-xs;
    font-family: $primary-font;
    font-weight: $font-weight-medium;
    line-height: $line-height-primary;
    letter-spacing: 2.80px;
 }

 nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url(/images/Rectangle\ 2.png);
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: $primary-color;
    font-size: 24px;
    font-family: $primary-font;
    font-weight: $font-weight-heavy;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 2.40px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;  
    
}

li {
    padding-left: 20px;
    padding-right: 20px;
    color: $primary-color;
    font-family: $secondary-font;
    text-transform: uppercase;
    line-height: $line-height-primary;
}

.why-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(/images/Rectangle\ 41444.png);
    background-repeat: no-repeat;
    height: 685px;
    width: 100%;
}

.why-us-left {

}

.why-us-right {
    display: flex;
    flex-direction: column;
}

.heading-why-us {
    font-size: 36px;
    font-family: $secondary-font;
    font-weight: 400;
    line-height: 26px;

}

.paragraph-why-us{
    color: #E8E8E8;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.60px;
    width: 560px;
    height: 158px;  

}



.how-it-works {
    display: flex;
    background-image: url(/images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    height: 340px;
    width: 100%;
}

.destination-1 {
    display: flex;
    background-image: url(/images/Rectangle\ 414\ 45.png);
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
   
}

.destination-2 {
    display: flex;
    background-image: url(/images/Rectangle\ 41445.png);
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;

}

.testimonials {
    display: flex;
    background-image: url(/images/Rectangle\ 4142\ 1.png);
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}

footer {
    display: flex;
    background-image: url(/images/Rectangle\ 41444.png);
    background-repeat: no-repeat;
    height: 271px;
    width: 100%;

}